nav {
  position: absolute;
  top: 10%;
  left: -10%;
  width: 200px;
  -webkit-transition: 1s 2s;
  transition: 1s 2s;
}

nav:hover {
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

li {
  border: 1px solid grey;
  padding: 1em;
  position: relative;
}

.submenu {
  position: absolute;
  width: 100%;
  top: -1px;
  left: -1000%;
}

ul > li:hover > .submenu {
  left: 100%;
  -webkit-transition: .5s .5s left;
  transition: .5s .5s left;
}