@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?41318027");
  src: url("../font/fontello.eot?41318027#iefix") format("embedded-opentype"), url("../font/fontello.woff?41318027") format("woff"), url("../font/fontello.ttf?41318027") format("truetype"), url("../font/fontello.svg?41318027#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.gallery h2 {
  text-align: left;
  margin: 0 1em 1em;
  font-size: 1.25em;
}
.gallery .zoom {
  overflow: hidden;
  background-color: white;
  display: inline-block;
  width: 20%;
  margin: 0.5em;
}
.gallery .zoom img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.gallery .zoom:hover {
  box-shadow: 1px 1px 5px #404040;
}

.gallery:after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.caracteristics {
  margin: 0 1em 2em;
}
.caracteristics h2 {
  text-align: left;
  margin: 2em 0.25em 1em;
  font-size: 1.25em;
}
.caracteristics p {
  margin: 1.25em;
  text-align: left;
}
.caracteristics aside {
  background-color: rgba(119, 194, 68, 0.25);
  padding: 1em;
  margin-right: 1em;
  text-align: left;
}

.content .center.up {
  padding: 0;
}

.center .main_upper {
  margin: 1em 0;
}
.center .main_upper h2 {
  text-align: left;
  margin: 1em 1.25em 1em;
  font-size: 1.25em;
}
.center .main_upper .small {
  text-align: center;
  margin-top: 0.5em;
}
.center .main_upper .small a:hover .price {
  background-color: white;
  border-color: #77c244;
  transition: 0.5s border-color,1s 0.5s background-color;
}
.center .main_upper .small figure img {
  max-height: 136px;
}
.center .main_upper .small figure + p, .center .main_upper .small h1 {
  display: none;
}
.center .main_upper .small .price {
  font-size: 0.875em;
  width: 70%;
  margin: 0.5em auto;
  border: 1px solid transparent;
}

.view_full {
  background-color: #404040;
  color: white;
  border: 1px solid #77c244;
}

.view_full:hover {
  color: #404040;
}

@media screen and (min-width: 800px) {
  .caracteristics p {
    float: left;
    width: 50%;
  }
  .caracteristics aside {
    float: right;
    width: 30%;
  }

  .caracteristics:after {
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }

  .center .main_upper .small {
    width: 20%;
  }
}
