/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?41318027");
  src: url("../font/fontello.eot?41318027#iefix") format("embedded-opentype"), url("../font/fontello.woff?41318027") format("woff"), url("../font/fontello.ttf?41318027") format("truetype"), url("../font/fontello.svg?41318027#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font: 16px/1.5 Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: rgba(64, 64, 64, 0.9);
  border-bottom-style: solid;
  border-bottom-color: rgba(64, 64, 64, 0.9);
  border-width: 0px;
}

.doc_plan {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.button {
  text-align: center;
  padding: 0.25em;
  margin: 0.5em 1em 1em;
  display: block;
  background-color: rgba(64, 64, 64, 0.2);
  border: 1px solid transparent;
}

.button:hover {
  transition: 1s;
  background-color: white;
  border-color: #404040;
}

.text {
  width: 70%;
  margin: 1em auto;
  font-size: 0.85em;
}
.text h2 {
  font-size: 1.5em;
  margin: 1em 0;
}
.text h3 {
  font-size: 1.25em;
  margin: 1.25em 0 0.5em;
}
.text p {
  line-height: 1.2;
}

header {
  margin: 1em auto;
  position: relative;
}
header h1 {
  font: 3em "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  overflow: hidden;
}
header a {
  display: block;
  position: relative;
}
header .main_title {
  display: block;
  height: 100%;
  padding-bottom: 0.1em;
}
header #ampersand {
  font: 3em "Brush Script MT", cursive;
  display: block;
  margin: -0.5em 0 -0.8em 0.9em;
}
header #vie {
  margin: 0 0 0 4.5em;
}
header .cart {
  font-size: 1.25em;
  text-align: center;
  background-color: #cbe8b7;
  padding: 0.75em 1em 1em;
  margin-top: 0.5em;
}
header .cart a, header .cart h2 {
  display: inline;
}
header .cart a:hover {
  text-shadow: 1px 1px 2px rgba(64, 64, 64, 0.5);
}
header .cart #cart_icon:before, header .cart h2:before {
  font: 1.5em "fontello";
  margin: 0 0.5em 0 0;
  color: #404040;
  content: "\e80c";
}
header .cart #cart_icon {
  position: relative;
}
header .cart h2:hover {
  cursor: pointer;
}
header .cart h2:before {
  content: "\e80d";
}
header .cart #number_item {
  position: absolute;
  top: -1.25em;
  right: 0.75em;
  background-color: white;
  border-radius: 100%;
  border: 1px solid black;
  padding: 0.25em;
  width: 1em;
  text-align: center;
  font-size: 0.60em;
}
header .cart ul {
  margin-top: 1em;
  font-size: 0.75em;
}
header .cart ul:after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
header .cart .divider {
  clear: both;
  border-bottom: 1px solid rgba(64, 64, 64, 0.5);
  margin: 1em 0;
}
header .cart .cart_item {
  float: left;
  text-align: left;
}
header .cart .cart_price {
  float: right;
  text-align: right;
}
header .cart .cart_price:after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  margin-bottom: 0.5em;
}

.login {
  width: 100%;
}
.login #connect, .login #subscribe {
  margin: 0 0.25em;
}
.login .hover {
  display: none;
  height: 0;
  opacity: 0;
  background-color: #e6e6e6;
  text-align: center;
  padding: 1em 0;
  border: 1px solid #77c244;
}
.login .hover input {
  display: block;
  margin: 0.25em auto 1em;
  border: 1px solid rgba(64, 64, 64, 0.5);
}
.login .hover input[type="submit"] {
  background-color: #404040;
  border: 1px solid #77c244;
  color: white;
}
.login #connect:hover + .hover, .login .hover:hover {
  height: auto;
  opacity: 1;
  display: inherit;
}

.content {
  position: relative;
  background-color: #e6e6e6;
  margin: auto;
  padding-top: 1.5em;
}
.content small {
  font-size: 0.65em;
}
.content a:hover > h1 {
  text-shadow: 1px 1px 2px rgba(64, 64, 64, 0.5);
}
.content .main_upper {
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(119, 194, 68, 0.5) transparent;
  position: relative;
}
.content .splash, .content .col_bottom {
  padding: 1em;
  background-color: white;
}
.content .splash .main_product, .content .col_bottom .main_product {
  text-align: left;
  font-size: 0.85em;
  line-height: 1.25;
}
.content .splash h1, .content .col_bottom h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.content .splash .buttons_group, .content .col_bottom .buttons_group {
  margin-top: 3em;
}
.content .splash .price, .content .col_bottom .price, .content .splash .add, .content .col_bottom .add, .content .col_bottom form input[type="submit"] {
  font-size: 1.125em;
  background-color: rgba(119, 194, 68, 0.5);
  margin: 1em;
  text-align: center;
  padding: 0.5em 1em;
  color: #404040;
}
.content .splash .add, .content .col_bottom .add, .content .col_bottom form input[type="submit"] {
  transition: 0.5s;
  display: block;
  background-color: #404040;
  color: white;
  border: 1px solid #77c244;
}
.content .splash .add:hover, .content .col_bottom .add:hover, .content .col_bottom form input[type="submit"]:hover {
  transition: 0.5s;
  color: #404040;
  background-color: rgba(64, 64, 64, 0);
}
.content .splash img, .content .col_bottom img {
  max-width: 100%;
}
.content .splash figcaption, .content .col_bottom figcaption {
  font-size: 0.65em;
  color: rgba(64, 64, 64, 0.5);
}
.content .center {
  padding: 2em 0;
}
.content .col_bottom {
  padding: 0.5em;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(119, 194, 68, 0.5) transparent;
  vertical-align: top;
  text-align: left;
}
.content .col_bottom h2 {
  margin: 0.5em auto;
}
.content .col_bottom figure {
  width: 100%;
  margin: 1em 0;
}
.content .col_bottom img {
  width: 100%;
}
.content .col_bottom figcaption {
  height: 30px;
  margin: auto;
  text-align: center;
}
.content .col_bottom .small {
  margin-top: 0.5em;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(119, 194, 68, 0.5) transparent transparent;
}
.content .col_bottom .small a:hover .price, .content .col_bottom .small a:hover .add, .content .col_bottom .small a:hover form input[type="submit"], .content .col_bottom form .small a:hover input[type="submit"] {
  background-color: white;
  border-color: #77c244;
  transition: 0.5s border-color,1s 0.5s background-color;
}
.content .col_bottom .small figure img {
  max-height: 136px;
}
.content .col_bottom .small figure + p, .content .col_bottom .small h1 {
  display: none;
}
.content .col_bottom .small .price, .content .col_bottom .small .add, .content .col_bottom .small form input[type="submit"], .content .col_bottom form .small input[type="submit"] {
  font-size: 0.875em;
  width: 70%;
  margin: 0.5em auto;
  border: 1px solid transparent;
}
.content .col_bottom form label, .content .col_bottom form input, .content .col_bottom form small {
  display: block;
  margin: 0.25em auto;
  text-align: center;
}
.content .col_bottom form label {
  margin-top: 1em;
}
.content .col_bottom form input, .content .col_bottom form textarea {
  border: 1px solid #404040;
  padding: 0.5em;
}
.content .col_bottom form input[type="submit"] {
  margin: 1em auto;
}
.content .col_bottom form textarea {
  width: 100%;
  text-align: left;
}

.center:after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

footer {
  background-color: #404040;
}
footer .description {
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
}
footer .description i {
  font-style: italic;
  color: rgba(255, 255, 255, 0.85);
}
footer .encarts {
  width: 80%;
  margin: 0 auto 1em;
  padding: 1em;
  color: #404040;
}
footer .encarts div {
  margin: 1em 0.125em;
  position: relative;
  text-align: center;
  font-size: 1.25em;
  background-color: white;
  height: 6em;
  vertical-align: bottom;
}
footer .encarts a {
  display: block;
  padding: 0.5em;
  height: 5em;
}
footer .encarts small {
  display: block;
  font-size: 0.65em;
}
footer .encarts small a {
  padding: 0;
}
footer #contact:after {
  font: 1.5em "fontello";
  position: absolute;
  width: 100%;
  top: 2.75em;
  left: 0;
  content: "\e809";
}
footer #livraison:after {
  font: 1.5em "fontello";
  position: absolute;
  width: 100%;
  top: 2.75em;
  left: 0;
  content: "\e803";
}
footer #back:after {
  font: 1.5em "fontello";
  position: absolute;
  width: 100%;
  top: 2.75em;
  left: 0;
  content: "\e805";
}
footer #reservation:after {
  font: 1.5em "fontello";
  position: absolute;
  width: 100%;
  top: 2.75em;
  left: 0;
  content: "\e80a";
}
footer #cgdv:after {
  font: 1.5em "fontello";
  position: absolute;
  width: 100%;
  top: 2.75em;
  left: 0;
  content: "\e80b";
}

@media screen and (max-width: 400px) {
  .breadcrumbs {
    display: none;
  }

  header {
    width: 90%;
  }
  header .cart_up:after {
    font: 1.5em 'fontello';
    display: block;
    text-align: center;
    margin-bottom: -0.75em;
    content: "\e80d";
  }
  header .cart_down:after {
    font: 1.5em 'fontello';
    display: block;
    text-align: center;
    margin-bottom: -0.75em;
    content: "\e80e";
  }
}
@media screen and (min-width: 401px) and (max-width: 800px) {
  .breadcrumbs {
    display: none;
  }

  header {
    width: 80%;
  }
  header .cart_up:after {
    font: 1.5em 'fontello';
    display: block;
    text-align: center;
    margin-bottom: -0.75em;
    content: "\e80d";
  }
  header .cart_down:after {
    font: 1.5em 'fontello';
    display: block;
    text-align: center;
    margin-bottom: -0.75em;
    content: "\e80e";
  }

  .main_upper {
    width: 100%;
    background-color: white;
  }

  .splash, .content .col_bottom {
    width: 80%;
    margin: auto;
  }

  .center .col_bottom article {
    width: 80%;
    margin: 0 auto;
  }
  .center .col_bottom figure {
    text-align: center;
  }
  .center .col_bottom img {
    width: 50%;
  }
}
@media screen and (min-width: 801px) {
  .breadcrumbs {
    margin: 1em;
  }
  .breadcrumbs span {
    position: relative;
    border-bottom: 2px solid #77c244;
    padding: 0.5em 2em;
  }
  .breadcrumbs span:after, .breadcrumbs span:first-of-type:before, .breadcrumbs span:last-of-type:before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    border-radius: 100%;
    border: 2px solid #77c244;
    background: white;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .breadcrumbs span:first-of-type:before, .breadcrumbs span:last-of-type:before {
    font: 2em 'fontello';
    color: #77c244;
    margin: 0;
    left: -13px;
    border: none;
    bottom: -0.49em;
    height: 1em;
    content: "\e805";
  }
  .breadcrumbs span:last-of-type:before {
    background-color: transparent;
    left: inherit;
    right: 2px;
  }

  .login {
    border: none;
    position: fixed;
    z-index: 100;
    top: 0;
    text-align: center;
    padding: 0.25em 0;
  }
  .login .button {
    z-index: 50;
    display: inline-block;
    margin: 0.25em;
    width: 120px;
    padding: 0.25em 1em;
    background-color: rgba(119, 194, 68, 0.3);
  }
  .login .hover {
    position: absolute;
    width: 25%;
    left: 0;
    right: 0;
    margin: auto;
  }

  header {
    width: 80%;
  }
  header .cart {
    position: absolute;
    top: 3em;
    right: 0;
    width: 20%;
  }

  .content {
    width: 80%;
  }
  .content .main_upper {
    width: 100%;
    background-color: white;
  }
  .content .splash, .content .col_bottom {
    width: 80%;
    margin: 0 auto;
  }
  .content .center {
    text-align: center;
  }
  .content .col_bottom {
    width: 27.33333%;
    margin: 1%;
    display: inline-block;
  }
  .content .small {
    display: inline-block;
    width: 49%;
  }
  .content .small .add, .content .small .col_bottom form input[type="submit"], .content .col_bottom form .small input[type="submit"] {
    display: none;
  }

  footer .encarts div {
    display: inline-block;
    width: 19.5%;
    margin: 0 0.125em;
  }
}
@media screen and (max-width: 1023px) {
  a.navig {
    display: block;
    width: 80%;
    background-color: rgba(64, 64, 64, 0.5);
    margin: 1.5em auto 0.5em;
    text-align: center;
    padding: 0.25em 0.5em;
    color: white;
  }

  #navigation li > a {
    display: block;
    padding: 0.5em;
  }
  #navigation li > a:hover {
    background-color: rgba(119, 194, 68, 0.5);
  }
  #navigation .level_11:hover > .level_2 {
    height: 100%;
    transition: 1s;
  }
  #navigation .level_01 {
    display: none;
  }
  #navigation .level_1 {
    font-size: 1.25em;
  }
  #navigation .level_1 .level_11 {
    margin: 0.5em;
    border: 1px solid #404040;
    text-align: center;
  }
  #navigation .level_2 {
    font-size: 0.8em;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
  }
  #navigation .level_2 li {
    border-top: 1px solid rgba(64, 64, 64, 0.5);
  }
  #navigation .secondary a {
    font-size: 0.857em;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(64, 64, 64, 0.7);
  }
  #navigation .jsSlide {
    height: 0;
  }
}
@media screen and (min-width: 1024px) {
  a.navig {
    display: none;
  }

  #navigation {
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 334px;
  }
  #navigation #home:before {
    font: 2em "fontello";
    content: "\e802";
  }
  #navigation #mail:before {
    font: 2em "fontello";
    content: "\e808";
  }
  #navigation #action:before {
    font: 2em "fontello";
    content: "\e806";
  }
  #navigation #attention:before {
    font: 2em "fontello";
    content: "\e801";
  }
  #navigation #tag:before {
    font: 2em "fontello";
    content: "\e804";
  }
  #navigation #everything:before {
    font: 2em "fontello";
    content: "\e800";
  }
  #navigation #dangers:before {
    font: 2em "fontello";
    content: "\e807";
  }
  #navigation .level_0:hover + .overlay {
    transition: 1s;
    left: 0;
  }
  #navigation .level_0:hover .level_1, #navigation .level_0 a:focus .level_1 {
    transition: 1s left, 0s 1s z-index;
    left: 4em;
    z-index: initial;
  }
  #navigation .level_1 li:hover > .level_2, #navigation .level_1 a:focus + .level_2 {
    transition: 1s;
    left: 150px;
  }
  #navigation ul {
    height: 334px;
  }
  #navigation li {
    padding: 1em;
  }
  #navigation .dropdown {
    position: absolute;
    top: 0;
    width: 150px;
  }
  #navigation .level_0 {
    background-color: rgba(255, 255, 255, 0.9);
    width: 4em;
    height: 334px;
    transition: 1s;
    left: 0;
    z-index: initial;
  }
  #navigation .level_0 li {
    text-align: center;
    border-bottom: 1px solid rgba(119, 194, 68, 0.8);
    height: 66px;
    padding: 0;
    position: relative;
  }
  #navigation .level_0 li:last-of-type {
    border-bottom: none;
  }
  #navigation .level_0 a {
    display: block;
    padding: 16px 0;
  }
  #navigation .level_1 {
    border-right: 1px solid #77c244;
    transition: 1s left, 0s z-index;
    background-color: #404040;
    left: -9999px;
    z-index: -1;
  }
  #navigation .level_1 a {
    display: block;
    padding: 24px 0;
    width: 100%;
    color: white;
    font-size: 1.125em;
  }
  #navigation .level_2 {
    position: absolute;
    width: 400%;
    transition: 1s;
    left: -9999px;
    z-index: -2;
  }
  #navigation .level_2 ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding: 1em 0.5em;
    height: 304px;
  }
  #navigation .level_2 li {
    border-bottom: 1px solid rgba(64, 64, 64, 0.25);
    height: auto;
    font-size: 0.875em;
  }
  #navigation .level_2 a {
    display: inline-block;
    position: relative;
    padding: 0.5em 0;
    color: #404040;
  }
  #navigation .level_2 a:hover {
    background-color: rgba(119, 194, 68, 0.5);
  }
  #navigation #sub_cat_1 {
    top: -67px;
  }
  #navigation #sub_cat_2 {
    top: -134px;
  }
  #navigation #sub_cat_3 {
    top: -201px;
  }
  #navigation #sub_cat_4 {
    top: -268px;
  }
  #navigation small {
    display: block;
    font-size: 0.75em;
  }

  #navigation:hover {
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: -1px;
    left: -9999px;
    width: 100%;
    background-color: white;
    height: 334px;
    z-index: -10;
    border: 1px solid #77c244;
  }

  .secondary a {
    font-size: 0.857em;
    color: rgba(64, 64, 64, 0.5);
  }
}
@media screen and (min-width: 1235px) {
  .content .splash .main_product, .content .col_bottom .main_product {
    float: right;
    width: 25%;
    margin: auto 1em;
  }
  .content .splash .main_product + a, .content .col_bottom .main_product + a {
    display: block;
    width: 70%;
    text-align: center;
  }
  .content .splash .main_product + a:after, .content .col_bottom .main_product + a:after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }
}
#principal {
  position: relative;
  height: auto;
  background-color: white;
  z-index: 10;
  padding: -1em;
}
#principal .bar {
  height: 100%;
  border: 1px solid rgba(64, 64, 64, 0.5);
  border-width: 1px 0;
}
#principal .bar:after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
#principal .lvl_0 {
  padding: 0.75em 0.25em;
  text-align: center;
  float: left;
  border-right: 1px solid rgba(64, 64, 64, 0.5);
  width: 180px;
}
#principal .lvl_0 a {
  display: block;
  width: 100%;
}
#principal .lvl_0 input {
  border: 1px solid #77c244;
}
#principal .lvl_0 input[type="submit"] {
  background-color: #404040;
  color: white;
}
#principal .lvl_0 label {
  display: none;
}
#principal .lvl_0:last-of-type {
  width: auto;
  border-right: none;
  padding: 0.5em;
}
#principal .lvl_0:last-of-type:hover {
  background-color: white;
}
#principal .lvl_0 .lvl_1 {
  opacity: 0;
  display: none;
  height: 0;
  position: absolute;
  background-color: white;
  overflow: hidden;
  border: 1px solid rgba(64, 64, 64, 0.5);
  border-width: 1px 0;
  width: 100%;
}
#principal .lvl_0 .lvl_1 ul {
  margin: 1em auto;
  width: 80%;
}
#principal .lvl_0 .lvl_1 li {
  float: left;
  width: 180px;
  padding: 0.5em;
  height: 3em;
  border-bottom: 1px solid rgba(64, 64, 64, 0.25);
}
#principal .lvl_0 .lvl_1 li:hover, #principal .lvl_0 .lvl_1 li a:focus {
  background-color: rgba(64, 64, 64, 0.5);
  transition: 1s;
}
#principal .lvl_0 .lvl_1 li:hover a, #principal .lvl_0 .lvl_1 li a:focus a {
  color: white;
}
#principal .lvl_0 .lvl_1 a {
  color: black;
}
#principal .lvl_0:hover {
  background-color: rgba(64, 64, 64, 0.5);
  transition: 0.5s;
}
#principal .lvl_0:hover > a {
  transition: 0.5s;
  color: white;
}
#principal .lvl_0:hover > .lvl_1 {
  transition: 0.5s;
  transition-delay: 0.5s opacity;
  opacity: 1;
  height: auto;
  display: inherit;
  top: 100%;
  left: 0;
}
#principal .lvl_0 > a:focus + .lvl_1 {
  transition: 0.5s;
  transition-delay: 0.5s opacity;
  opacity: 1;
  height: auto;
  display: inherit;
  top: 100%;
  left: 0;
}
#principal .lvl_0 .lvl_1 ul:after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
