//Font parameters

$fontPara : Corbel, "Lucida Sans Unicode", "Lucida Grade", "Bitstream Vera Sans", "Luxi Serif", Verdana, sans-serif;
$fontTitle : "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?41318027');
  src: url('../font/fontello.eot?41318027#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?41318027') format('woff'),
       url('../font/fontello.ttf?41318027') format('truetype'),
       url('../font/fontello.svg?41318027#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Variables

$icon_list : home, mail, action, attention, tag, everything, dangers;