@media screen and (max-width:400px) {
    .breadcrumbs{display: none;}
    header{
        width:90%;
        .cart_up:after{
            font:1.5em 'fontello';
            display: block;
            text-align: center;
            margin-bottom:-0.75em;
            @include icon("up");
        }
        .cart_down:after{
            font:1.5em 'fontello';
            display: block;
            text-align: center;
            margin-bottom:-0.75em;
            @include icon("down");
        }
    }
}

@media screen and (min-width:401px) and (max-width: 800px) {
    .breadcrumbs{display: none;}
    header{
        width:80%;
        .cart_up:after{
            font:1.5em 'fontello';
            display: block;
            text-align: center;
            margin-bottom:-0.75em;
            @include icon("up");
        }
        .cart_down:after{
            font:1.5em 'fontello';
            display: block;
            text-align: center;
            margin-bottom:-0.75em;
            @include icon("down");
        }
    }
    .main_upper{
        width:100%;
        background-color: white;
    }
    .splash{
        width:80%;
        margin:auto;
    }
    .center{
        .col_bottom{
            article{
                width:80%;
                margin:0 auto;
            }
            figure{
                text-align: center;
            }
            img{
                width:50%;
            }
        }
    }
}

@media screen and (min-width:801px){
    .breadcrumbs{
        margin:1em;
        span{
            position: relative;
            border-bottom: 2px solid green(1);
            padding:0.5em 2em;
        }
        span:after{
            content:"";
            width:10px;
            height:10px;
            display: block;
            position: absolute;
            border-radius: 100%;
            border: 2px solid green(1);
            background:white;
            bottom:-7px;
            left:0;
            right:0;
            margin:auto;
        }
        span:first-of-type:before{
            @extend span:after;
            font:2em 'fontello';
            color:green(1);
            margin:0;
            left:-13px;
            border:none;
            bottom:-0.49em;
            height:1em;
            @include icon("back");
        }
        span:last-of-type:before{
            @extend span:first-of-type:before;
            background-color: transparent;
            left:inherit;
            right:2px;
        }
    }
    .login{
        border:none;
        position: fixed;
        z-index: 100;
        top:0;
        text-align: center;
        padding:0.25em 0;
        .button{
            z-index: 50;
            display: inline-block;
            margin:0.25em;
            width:120px;
            padding:0.25em 1em;
            background-color: green(0.3);
        }
        .hover{
            position: absolute;
            width:25%;
            left:0;
            right:0;
            margin:auto;
        }
    }
    header{
        width:80%;
        .cart{
            position: absolute;
            top:3em;
            right:0;
            width:20%;
        }
    }
    .content{
        $width:(640/16)*1em;
        width:80%;
        .main_upper{
            width:100%;
            background-color: white;
        }
        .splash{
            width:80%;
            margin:0 auto;
        }
        .center{
            text-align: center;
        }
        .col_bottom{
            width:(100/3) - 6%;
            margin:1%;
            display: inline-block;
        }
        .small{
            display: inline-block;
            width:49%;
            .add{
                display:none;
            }
        }
    }
    footer{
        .encarts div{
            display: inline-block;
            width:19.5%;
            margin:0 0.125em;
        }
    }
}
@media screen and (max-width: 1023px){
    @import "nav_mini";
}
@media screen and (min-width:1024px) {
    @import "nav_lat";
}

@media screen and (min-width:1235px) {
    .content{
        .splash{
            .main_product{
                float:right;
                width:25%;
                margin:auto 1em;
            }
            .main_product + a{
                display: block;
                width:70%;
                text-align: center;
            }
            .main_product + a:after{
                content:'';
                clear: both;
                display: block;
                visibility: hidden;
                height: 0;
            }
        }
    }
}