@mixin full_link{
    display: block;
    width:100%;
    height:100%;
}

@mixin rotate($deg){
    -webkit-transform: rotate(#{$deg});
    -moz-transform: rotate(#{$deg});
    -ms-transform: rotate(#{$deg});
    -o-transform: rotate(#{$deg});
    transform: rotate(#{$deg});
    
}

@mixin icon($id){
    @if $id == "mail" {content : "\e808";}
    @if $id == "home" {content : "\e802";}
    @if $id == "action" {content : "\e806";}
    @if $id == "attention" {content : "\e801";}
    @if $id == "tag" {content : "\e804";}
    @if $id == "back" {content : "\e805";}
    @if $id == "everything" {content : "\e800";}
    @if $id == "dangers" {content : "\e807";}
    @if $id == "reservation" {content : "\e80a";}
    @if $id == "livraison" {content : "\e803";}
    @if $id == "contact" {content : "\e809";}
    @if $id == "cgdv" {content : "\e80b";}
    @if $id == "cart" {content : "\e80c";}
    @if $id == "up" {content : "\e80d";}
    @if $id == "down" {content : "\e80e";}
}

@mixin shutter_fix{
    a:active .shutter{
        box-shadow: 0 0 10px black inset;
        transition : 0s 0s;
    }
}