#principal{
    position: relative;
    height: auto;
    background-color: white;
    z-index:10;
    padding:-1em;
    .bar{
        height:100%;
        border:1px solid black(0.5);
        border-width: 1px 0;
    }
    .bar:after{
        content:'.';
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
    }
    .lvl_0{
        padding:0.75em 0.25em;
        text-align: center;
        float:left;
        border-right:1px solid black(0.5);
        width:180px;
        a{
            display: block;
            width:100%;
        }
        input{
            border:1px solid green(1);
        }
        input[type="submit"]{
            background-color: black(1);
            color:white;
        }
        label{
            display: none;
        }
    }
    .lvl_0:last-of-type{
        width:auto;
        border-right:none;
        padding: 0.5em;
    }
    .lvl_0:last-of-type:hover{
        background-color: white;
    }
    .lvl_0 .lvl_1{
        opacity:0;
        display: none;
        height:0;
        position: absolute;
        background-color: white;
        overflow: hidden;
        border:1px solid black(0.5);
        border-width: 1px 0;
        width:100%;
        ul{
            margin:1em auto;
            width:80%;
        }
        li{
            float:left;
            width:180px;
            padding:0.5em;
            height:3em;
            border-bottom: 1px solid black(0.25);
        }
        li:hover, li a:focus{
            background-color: black(0.5);
            transition:1s;
            a{
                color:white;
            }
        }
        a{
            color:black;
        }
    }
    .lvl_0:hover{
        background-color: black(0.5);
        transition:0.5s;
        &>a{
            transition:0.5s;
            color:white;
        }
        &>.lvl_1{
            transition:0.5s;
            transition-delay:0.5s opacity;
            opacity: 1;
            height: auto;
            display: inherit;
            top:100%;
            left:0;
        }
    }
    .lvl_0>a:focus + .lvl_1{
        transition:0.5s;
        transition-delay:0.5s opacity;
        opacity: 1;
        height: auto;
        display: inherit;
        top:100%;
        left:0;
    }
    .lvl_0 .lvl_1 ul:after{
        content:'.';
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
    }
}