a.navig{
    display: block;
    width:80%;
    background-color: black(0.5);
    margin:1.5em auto 0.5em;
    text-align: center;
    padding:0.25em 0.5em;
    color:white(1);
}
#navigation{
    li>a{
        display: block;
        padding:0.5em;
    }
    li>a:hover{
        background-color: green(0.5);
    }
    .level_11:hover > .level_2{
        height : 100%;
        transition:1s;
    }
    .level_01{
        display: none;
    }
    .level_1{
        font-size: 1.25em;
        .level_11{
            margin:0.5em;
            border:1px solid black(1);
            text-align: center;
        }
    }
    .level_2{
        font-size: (1/1.25)*1em;
        width:80%;
        margin:0 auto;
        text-align: left;
        overflow:hidden;
        li{
            border-top: 1px solid black(0.5);
        }
    }
    .secondary a{
        font-size:0.857em;
        background-color: white(0.5);
        color:black(0.7);
    }
    .jsSlide{
        height:0;
    }
}