a.navig{
    display:none;
}
#navigation{
    position: fixed;
    z-index:0;
    top:0;
    bottom:0;
    margin:auto;
    height:334px;
    @each $icon in $icon_list{
        ##{$icon}:before{
            font:2em "fontello";
            @include icon($icon);
        };
    }
    .level_0:hover + .overlay{
        transition:1s;
        left:0;
    }
    .level_0:hover .level_1, .level_0 a:focus .level_1{
        transition:1s left, 0s 1s z-index;
        left:4em;
        z-index:initial;
    }
    .level_1 li:hover>.level_2, .level_1 a:focus + .level_2{
        transition:1s;
        left:150px;
    }
    ul{
        height:334px;
    }
    li{
        padding:1em;
    }
    .dropdown{
        position: absolute;
        top:0;
        width:150px;
    }
    .level_0{
        li{
            text-align: center;
            border-bottom:1px solid green(0.8);
            height:66px;
            padding:0;
            position: relative;
        }
        li:last-of-type{
            border-bottom:none;
        }
        a{
            display: block;
            padding:16px 0;
        }
        background-color: white(0.9);
        width:4em;
        height:334px;
        transition:1s;
        left:0;
        z-index:initial;
    }
    .level_1{
        a{
            display: block;
            padding:24px 0;
            width:100%;
            color:white;
            font-size:1.125em;
        }
        border-right:1px solid green(1);
        //height:100%;
        transition:1s left, 0s z-index;
        background-color: black(1);
        left:-9999px;
        z-index:-1;
    }
    .level_2{
        ul{
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            padding:1em 0.5em;
            height:304px;
        }
        li{
            border-bottom:1px solid black(0.25);
            height:auto;
            font-size:0.875em;
        }
        a{
            display: inline-block;
            position: relative;
            padding:0.5em 0;
            color:black(1);
        }
        a:hover{
            background-color: green(0.5);
        }
        position: absolute;
        width:400%;
        transition:1s;
        //background-color: white;
        left:-9999px;
        z-index:-2;
    }
    #sub_cat_1{top:-67px}
    #sub_cat_2{top:-2*67px;}
    #sub_cat_3{top:-3*67px}
    #sub_cat_4{top:-4*67px}
    small{
        display: block;
        font-size: 0.75em;
    }
}
#navigation:hover{
    width:100%;
}
.overlay{
    position: absolute;
    top:-1px;
    left:-9999px;
    width:100%;
    background-color: white(1);
    height:334px;
    z-index:-10;
    border:1px solid green(1);
}
.secondary a{
    font-size:0.857em;
    color:black(0.5);
}