@import "colors";
@import "mixins";
@import "helpers";

.gallery{
    h2{
        text-align: left;
        margin:0 1em 1em;
        font-size: 1.25em;
    }
    .zoom{
        overflow:hidden;
        background-color: white;
        display:inline-block;
        width:20%;
        margin:0.5em;
        img{
            width:100%;
            position: relative;
            z-index:1;
        }
    }
    .zoom:hover{
        box-shadow: 1px 1px 5px black(1);
    }
}
.gallery:after{
    content:'.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}
.caracteristics{
    margin : 0 1em 2em;
    h2{
        text-align: left;
        margin:2em 0.25em 1em;
        font-size: 1.25em;
    }
    p{
        margin:1.25em;
        text-align: left;
    }
    aside{
        background-color: green(0.25);
        padding:1em;
        margin-right:1em;
        text-align: left;
    }
}
.content .center.up{
    padding:0;
}
.center .main_upper{
    margin:1em 0;
    h2{
        text-align: left;
        margin:1em 1.25em 1em;
        font-size: 1.25em;
    }
    .small{
        text-align: center;
        margin-top:0.5em;
        a:hover .price{
            background-color: white;
            border-color:green(1);
            transition:0.5s border-color,1s 0.5s background-color;
        }
        figure img{
            max-height: 136px;
        }
        figure+p,h1{
            display:none;
        }
        .price{
            font-size:0.875em;
            width:70%;
            margin:0.5em auto;
            border:1px solid transparent;
        }
    }
}
.view_full{
    background-color: black(1);
    color:white;
    border:1px solid green(1);
}
.view_full:hover{
    color:black(1);
}
@media screen and (min-width:800px) {
    .caracteristics{
        p{
            float:left;
            width:50%;
        }
        aside{
            float:right;
            width:30%;
        }
    }
    .caracteristics:after{
        content:'.';
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
    }
   .center .main_upper{
        .small{
            width:20%;
        }
    } 
}