@import "reset";
@import "helpers";
@import "colors";
@import "mixins";
//@import "nav";


html{
    font: 16px/1.5 Helvetica, Arial, sans-serif;
    height:100%;
}
a{
    text-decoration: none;
    color:black(0.9);
    border-bottom-style: solid;
    border-bottom-color:black(0.9);
    border-width:0px;
}
.doc_plan{
    position: absolute;
    top:-9999px;
    left:-9999px;
}
.button{
    text-align:center;
    padding:0.25em;
    margin:0.5em 1em 1em;
    display: block;
    background-color: black(0.2);
    border:1px solid transparent;
}
.button:hover{
    transition:1s;
    background-color: white;
    border-color:black(1);
}
.text{
    width:70%;
    margin:1em auto;
    font-size: 0.85em;
    h2{
        font-size: 1.5em;
        margin:1em 0;
    }
    h3{
        font-size:1.25em;
        margin:1.25em 0 0.5em;
    }   
    p{
        line-height: 1.2;
    } 
}

header{
    margin:1em auto;
    position: relative;
    h1{
        font:3em $fontTitle;
        overflow: hidden;
    }
    a{
        display: block;
        position: relative;
    }
    .main_title{
        display: block;
        height:100%;
        padding-bottom:0.1em;
    }
    #ampersand{
        font:3em "Brush Script MT", cursive;
        display: block;
        margin:-0.5em 0 -0.8em 0.9em;
    }   
    #vie{
        margin:0 0 0 4.5em;
    }
    .cart{
        font-size:1.25em;
        text-align: center;
        background-color: lighten(green(1),30);
        padding:0.75em 1em 1em;
        margin-top:0.5em;
        a, h2{
            display: inline;
        }
        a:hover{
            text-shadow:1px 1px 2px black(0.5);
        }
        #cart_icon:before{
            font:1.5em "fontello";
            margin:0 0.5em 0 0;
            color:black(1);
            @include icon("cart");
        }
        #cart_icon{
            position: relative;
        }
        h2:hover{
            cursor: pointer;
        }
        h2:before{
            @extend #cart_icon:before;
            @include icon("up");
        }
        #number_item{
            position: absolute;
            top:-1.25em;
            right:0.75em;
            background-color: white;
            border-radius: 100%;
            border:1px solid black;
            padding:0.25em;
            width:1em;
            text-align: center;
            font-size: 0.60em;
        }
        ul{
            margin-top:1em;
            font-size:0.75em;
        }
        ul:after{
            content:'.';
            clear: both;
            display: block;
            visibility: hidden;
            height: 0;
        }
        .divider{
            clear:both;
            border-bottom:1px solid black(0.5);
            margin:1em 0;
        }
        .cart_item{
            float:left;
            text-align:left;
        }
        .cart_price{
            float:right;
            text-align: right;
        }
        .cart_price:after{
            content:'.';
            clear: both;
            display: block;
            visibility: hidden;
            height: 0;
            margin-bottom:0.5em;
        }
    }
}
.login{
    //background-color: white;
    width:100%;
    #connect,#subscribe{
        margin:0 0.25em;
    }
    .hover{
        display: none;
        height:0;
        opacity: 0;
        background-color: lighten(black(1),65);
        text-align: center;
        padding:1em 0;
        border:1px solid green(1);
        input{
            display: block;
            margin:0.25em auto 1em;
            border:1px solid black(0.5);
        }
        input[type="submit"]{
            background-color: black(1);
            border: 1px solid green(1);
            color:white;
        }
    }
    #connect:hover + .hover, .hover:hover{
        height:auto;
        opacity : 1;
        display: inherit;
    }
}
.content{
    position: relative;
    background-color: lighten(black(1),65);
    margin:auto;
    padding-top: 1.5em;
    small{
        font-size:0.65em;
    }
    a:hover>h1{
        text-shadow : 1px 1px 2px black(0.5);
    }
    .main_upper{
        border-width: 1px 0;
        border-style: solid;
        border-color : green(0.5) transparent;
        position: relative;
    }
    .splash{
        padding:1em;
        background-color: white(1);
        .main_product{
            text-align: left;
            font-size:0.85em;
            line-height: 1.25;
        }
        h1{
            font-size:1.5em;
            margin-bottom: 0.5em;
        }
        .buttons_group{
            margin-top:3em;
        }
        .price{
            font-size:1.125em;
            background-color: green(0.5);
            margin:1em;
            text-align: center;
            padding:0.5em 1em;
            color:black(1);
        }
        .add{
            @extend .price;
            transition:0.5s;
            display: block;
            background-color: black(1);
            color:white;
            border:1px solid green(1);
        }
        .add:hover{
            transition:0.5s;
            color:black(1);
            background-color: black(0)
        }
        img{
            max-width:100%;
        }
        figcaption{
            font-size: 0.65em;
            color:black(0.5);
        }
    }
    .center{
        padding: 2em 0;
    }
    .col_bottom{
        @extend .splash;
        padding:0.5em;
        border-width: 1px 0;
        border-style: solid;
        border-color : green(0.5) transparent;
        vertical-align: top;
        text-align: left;
        h2{
            margin:0.5em auto;
        }
        figure{
            width:100%;
            margin:1em 0;
        }
        img{
            width:100%;
        }
        figcaption{
            height:30px;
            margin:auto;
            text-align: center;
        }
        .small{
            margin-top:0.5em;
            border-width: 1px 0;
            border-style: solid;
            border-color : green(0.5) transparent transparent;
            a:hover .price{
                background-color: white;
                border-color:green(1);
                transition:0.5s border-color,1s 0.5s background-color;
            }
            figure img{
                max-height: 136px;
            }
            figure+p,h1{
                display:none;
            }
            .price{
                font-size:0.875em;
                width:70%;
                margin:0.5em auto;
                border:1px solid transparent;
            }
        }
    }
    .col_bottom form{
        label,input,small{
            display: block;
            margin:0.25em auto;
            text-align: center;
        }
        label{
            margin-top:1em;
        }
        input,textarea{
            border:1px solid black(1);
            padding:0.5em;
        }
        input[type="submit"]{
            @extend .add;
            margin:1em auto;
        }
        textarea{
            width:100%;
            text-align: left;
        }
    }
}
.center:after{
    content:'.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}
footer{
    background-color: black(1);
    .description{
        color:white(1);
        width:80%;
        margin:0 auto;
        padding:1em;
        i{
            font-style: italic;
            color:white(0.85);
        }
    }
    .encarts{
        width:80%;
        margin:0 auto 1em;
        padding:1em;
        color:black(1);
        div{
            margin:1em 0.125em;
            position: relative;
            text-align: center;
            font-size: 1.25em;
            background-color: white(1);
            height:6em;
            vertical-align: bottom;
        }
        a{
            display: block;
            padding:0.5em;
            height:5em;
        }
        small{
            display: block;
            font-size:0.65em;
            a{padding:0;}
        }
    }
    @each $icon in contact, livraison, back, reservation, cgdv{
        ##{$icon}:after{
            font:1.5em "fontello";
            position: absolute;
            width:100%;
            top:2.75em;
            left:0;
            @include icon($icon);
        };
    }
}

@import "media";
@import "nav_main";